<div class=" container banner">
        <p style="color: #037A92; font-size: 35px; margin-bottom: 0;">Title of the document</p>
    <div class="d-flex align-items-center">
        <div class="d-flex flex-wrap" style="gap: 10px;">
            <div class="d-flex flex-column formlabel">
                <label for="">Add Title</label>
                <input type="text" placeholder="Title">
            </div>
            <div class="d-flex flex-column formlabel">
                <label for="">Type</label>
                <select name="" id="">
                    <option value="">Guideline</option>
                </select>
            </div>
            <div class="d-flex flex-column formlabel">
                <label for="">Select Level</label>
                <select name="" id="">
                    <option value="">District</option>
                </select>
            </div>
            <div class="d-flex flex-column formlabel">
                <label for="">Select District Group</label>
                <select name="" id="">
                    <option value="">UP West</option>
                </select>
            </div>
            <div class="d-flex flex-column " style="gap: 10px;">
                <div class="d-flex flex-column fileUploadBox">
                    <div class="fileUpload">
                        <i class="bx bxs-cloud-upload" style="font-size: 55px;"></i>
                        <p>Drop file here</p>
                        <p style="font-size: 12px;">PDF file type which is less than 10 MB in size</p>
                        <input type="file" name="" id="fileSelect" style="display: none;">
                        <button id="selectBtn">Select File</button>
                    </div>

                </div>
                <p class="fileBox">No File Selected</p>
                <button id="submitBTN">Save</button>
            </div>
        </div>
        <div class="bannerImg">
            <img src="img/bannerImg.svg" width="500px" height="500px" alt="">

        </div>
    </div>
</div>
