nav {
    background-color: #F2F4F4;
    height: 110px;
    p {
        margin: 0;
    }
    .logo{
        gap: 7px;
        img{
            width: 50px;
            height: 62px;
        }
        p{
            font-size: 12px;
            font-weight: 600;
        }
    }
    .navleft{
        gap: 65px;
    }
    .navright{
        gap: 7px;
    }
}


