<nav class="container-fluid d-flex justify-content-between align-items-center">
    <div class="navleft d-flex">
        <div class="logo d-flex align-items-center">
            <img src={{logo}} alt="">
            <p>National Curriculum <br>Framework</p>
        </div>
        <div>
            <p style="color: #1C1D29; font-style: italic;">You are working as</p>
            <p style="color: #1C1D29; font-weight: bold;">National Technical Coordinator</p>
        </div>
    </div>
    <div class="navright d-flex align-items-center">
        <div class="userinfo">
            <p style="font-size: 20px; font-style: italic;">Hello,Kabir</p>
            <p style="color: #037A92; font-size: 12px;">Change your role</p>
        </div>
        <div class="userimg">
            <img src={{userImg}} width="50px" height="50px" alt="">
        </div>
    </div>
</nav>